[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.5

[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "thirdparty/PEGTL"]
	path = thirdparty/PEGTL
	url = https://github.com/taocpp/PEGTL.git
	branch = master
