[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.5
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "thirdparty/spirit"]
	path = thirdparty/spirit
	url = https://github.com/boostorg/spirit.git
	branch = develop
