[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mako = "*"
py-gfm = "*"

[scripts]
genPyBind = "python ./python/genPyBind.py"

[requires]
python_version = "3.8"
